@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #37474f;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  padding: 2rem 5rem;
  color: #f5f5f5;
  background-color: #1565c0;
  margin-bottom: 2rem;
}

.title a {
  color: #f5f5f5;
}

.container {
  padding: 0px 5rem;
}

.semester {
  padding: 2rem;
  border-radius: 1.5rem;
  border: 2px solid #0002;
  background-color: #fff;
  margin-bottom: 5rem;
}

.semester h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.semester .list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.semester .list .item {
  min-width: 15rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #f5f5f5;
  margin-bottom: 2rem;
}

.semester .list .item h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.semester .list .item a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  width: 100%;
  background-color: #1e88e5;
}

.semester .list .item .weeks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 1rem;
}

.semester .list .item .weeks .week {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #bbdefb;
}

.semester .btn-add {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #f5f5f5;
  background-color: #1e88e5;
  margin-bottom: 1rem;
}

.semester .btn-add:last-child {
  margin-bottom: 0px;
}
