{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DELETE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/delete-form.css' %}"/>
</head>
<body>
<form action="{{ post_url }}" method="post">
    {% csrf_token %}
    {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% if info %}
        <div class="info">
            <p>{{ info }}</p>
        </div>
    {% endif %}
    <div class="inputs">{{ form }}</div>
    <input type="submit" value="Delete"/>
    <a href="{{ back_url }}">Annuler</a>
</form>
</body>
</html>
