{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/edit-subject.css' %}" />

<div class="title">
  <h1>{{ subject.name_subject }}</h1>
  <p>{{ promotion.name_promotion }}</p>
  <a href="{% url 'management:edit-promotion' promotion.id%}">← back</a>
</div>
<div class="container">
  <div class="cm">
    <h2>CM</h2>
    <div class="info">
      <p>{{ nb_sessions.cm.for_promotion }} séances ont été prévue, vous devez encor en affecter {{ nb_sessions.cm.remaining }}.</p>
    </div>
    <table>
      <tr>
        <th>Nom professeur</th>
        <th>Nombre de séances</th>
        <th>Semaine</th>
      </tr>
      {% for one_sessions in subject.sessions_set.all %}
      <tr>
        {% if one_sessions.type_sessions == "cm" %}
        <td>{{ one_sessions.teacher }}</td>
        <td>{{ one_sessions.number_sessions }}</td>
        <td>{{ one_sessions.week }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% if nb_sessions.cm.remaining > 0%}
    <a href="{% url 'management:add-cm-session' promotion.id subject.id%}">Ajouter un CM</a>
    {% endif %}
  </div>

  <div class="td">
    <h2>TD</h2>
    <div class="info">
      <p>{{ nb_sessions.td.for_td }} séances par TD ont été prévue, vous devez encor en affecter {{ nb_sessions.td.remaining }}.</p>
    </div>
    {% for one_td, list_session in session_td.items %}
    <table>
      <tr>
        <th colspan="3">{{ one_td }}</th>
      </tr>
      <tr>
        <th>Nom professeur</th>
        <th>Nombre de séances</th>
        <th>Semaine</th>
      </tr>
      {% for one_sessions in list_session %}
      <tr>
        <td>{{ one_sessions.teacher }}</td>
        <td>{{ one_sessions.number_sessions }}</td>
        <td>{{ one_sessions.week }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    <!---->
    {% if nb_sessions.td.remaining > 0%}
    <a href="{% url 'management:add-td-session' promotion.id subject.id%}"><p>Ajouter un TD</p></a>
    {% endif %}
  </div>

  <div class="tp">
    <h2>TP</h2>
    <div class="info">
      <p>{{ nb_sessions.tp.for_tp }} séances par TP ont été prévue, vous devez encor en affecter {{ nb_sessions.tp.remaining }}.</p>
    </div>
    {% for one_tp, list_session in session_tp.items %}
    <table>
      <tr>
        <th colspan="3">{{ one_tp }}</th>
      </tr>
      <tr>
        <th>Nom professeur</th>
        <th>Nombre de séances</th>
        <th>Semaine</th>
      </tr>
      {% for one_sessions in list_session %}
      <tr>
        <td>{{ one_sessions.teacher }}</td>
        <td>{{ one_sessions.number_sessions }}</td>
        <td>{{ one_sessions.week }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    <!---->
    {% if nb_sessions.tp.remaining > 0%}
    <a href="{% url 'management:add-tp-session' promotion.id subject.id%}"><p>Ajouter un TP</p></a>
    {% endif %}
  </div>
</div>
