{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/edit-form.css' %}"/>

<form action="{{ post_url }}" method="post">
    {% csrf_token %}
    {% if error %}
        <div class="error">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% if info %}
        <div class="info">
            <p>{{ info }}</p>
        </div>
    {% endif %}
    <div class="inputs">{{ form }}</div>
    <input type="submit" value="Save"/>
    <a href="{{ back_url }}"><p>Annuler</p></a>
</form>
