{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/edit-year.css' %}" />

<div class="title">
  <h1>{{ year.name_year }}</h1>
  <a class="btn-back" href="{% url 'management:index'%}">← back</a>
</div>

<div class="container">
  <div class="semester">
    <h2>Semestre</h2>
    <div class="list">
      {% for one_semester in year.semester_set.all %}
      <div class="item">
        <h3>{{ one_semester }}</h3>
        <dev class="weeks">
          {% for one_week in one_semester.week_set.all %}
          <div class="week">
            <p>{{ one_week }}</p>
          </div>
          {% endfor %}
        </dev>
        <a href="{% url 'management:edit-semester' year.id one_semester.id%}">Edit</a>
      </div>
      {% endfor %}
    </div>
    <a class="btn-add" href="{% url 'management:add-semester' year.id%}">Ajouter un semestre</a>
  </div>
</div>
