{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/index.css' %}"/>

<div class="title">
    <h1>IUT Calais</h1>
    <p>GDS | Beta : v0.1</p>
    <a class="btn-back" href="{% url 'management:logout' %}">← Logout</a>
</div>
<div class="container">
    <div class="year">
        <h2>Année</h2>
        <div class="list">
            {% for one_year in year %}
                <div class="item">
                    <p>{{ one_year }}</p>
                    <div class="btn">
                        <a href="{% url 'management:managed-year' one_year.id %}">Voir</a>
                        <a href="{% url 'management:delete-year' one_year.id %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn-add" href="{% url 'management:add-year' %}">Ajouter une année</a>
    </div>

    <div class="teacher">
        <h2>Professeur</h2>
        <div class="list">
            {% for one_teacher in teacher %}
                <div class="item">
                    <p>{{ one_teacher }}</p>
                    <div class="btn">
                        <a href="{% url 'management:managed-teacher' one_teacher.id %}">Service</a>
                        <a href="{% url 'management:edit-teacher' one_teacher.id %}">Edit</a>
                        <a href="{% url 'management:delete-teacher' one_teacher.id %}">Delete</a>
                        <a href="{% url 'management:change-password' one_teacher.id %}">Password</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn-add" href="{% url 'management:add-teacher' %}"><p>Ajouter un professeur</p></a>
    </div>

    <div class="promotion">
        <h2>Promotion</h2>
        <div class="list">
            {% for one_promotion in promotion %}
                <div class="item">
                    <p>{{ one_promotion }}</p>
                    <div class="btn">
                        <a href="{% url 'management:managed-promotion' one_promotion.id %}">Voir</a>
                        <a href="{% url 'management:delete-promotion' one_promotion.id %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn-add" href="{% url 'management:add-promotion' %}"><p>Ajouter une promotion</p></a>
    </div>
</div>
