{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/managed-td.css' %}" />

<div class="title">
  <h1>{{ td.name_td }}</h1>
  <p>{{ promotion.name_promotion }}</p>
  <a class="btn-back" href="{% url 'management:managed-promotion' promotion.id%}">← back</a>
</div>

<div class="container">
  <div class="td">
    <h2>TD</h2>
    <div class="list">
      {% for one_tp in td.tp_set.all %}
      <div class="item">
        <p>{{ one_tp }}</p>
        <a href="{% url 'management:delete-tp' promotion.id td.id one_tp.id %}">Delete</a>
      </div>
      {% endfor %}
    </div>
    <a class="btn-add" href="{% url 'management:add-tp' promotion.id td.id %}">Ajouter un TP</a>
  </div>
</div>
