{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promotion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/managed-promotion.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>

<div class="title">
    <h1>{{ promotion.name_promotion }}</h1>
    <p>{{ promotion.year.name_year }}</p>
    <a class="btn-back" href="{% url 'management:index' %}">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <a class="btn-back" href="{% url 'management:index' %}"><span class="material-symbols-outlined">home</span></a>
</div>
<div class="container">
    <div class="promotion">
        <h2>Promotion</h2>
        {% for one_semester in promotion.year.semester_set.all %}
            <table>

                <tr>
                    <th colspan="3">{{ one_semester }}</th>
                </tr>
                <tr>
                    <th>Nom TD</th>
                    <th>Tp</th>
                    <th>Action</th>
                </tr>
                {% for one_td in one_semester.td_set.all %}
                    {% if one_td.promotion == promotion %}
                        <tr>
                            <td>{{ one_td }}</td>
                            <td>
                                {% for one_tp in one_td.tp_set.all %}
                                    {{ one_tp }}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="btn">
                                    <a href="{% url 'management:managed-td' promotion.id one_td.id %}">Voir</a>
                                    <a href="{% url 'management:delete-td' promotion.id one_td.id %}">Delete</a>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}

        <!--
        <div class="list">
            {% for one_td in td %}
                <div class="item">
                    <h3>{{ one_td }}</h3>
                    <div class="tps">
                        {% for one_tp in one_td.tp_set.all %}
                            <div class="tp">
                                <p>{{ one_tp }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="btn">
                        <a href="{% url 'management:managed-td' promotion.id one_td.id %}">Voir</a>
                        <a href="{% url 'management:delete-td' promotion.id one_td.id %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        --->
        <a class="btn-add" href="{% url 'management:add-td' promotion.id %}">Ajouter un TD</a>
    </div>

    <div class="subject">
        <h2>Matiere</h2>
        <div class="list">
            {% for one_subject in subject %}
                <div class="item">
                    <h3>{{ one_subject }}</h3>
                    <p>{{ one_subject.description }}</p>

                    <div class="btn">
                        <a href="{% url 'management:managed-subject' promotion.id one_subject.id %}">Voir</a>
                        <a href="{% url 'management:edit-subject' promotion.id one_subject.id %}">Edit</a>
                        <a href="{% url 'management:delete-subject' promotion.id one_subject.id %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn-add" href="{% url 'management:add-subject' promotion.id %}">Ajouter une matiere</a>
    </div>
</div>
</body>
</html>
