{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/managed-teacher.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="title">
    <h1>{{ teacher.last_name }}</h1>
    <p>{{ teacher.first_name }}</p>
    <a class="btn-back" href="{% url 'management:index' %}">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <a class="btn-back" href="{% url 'management:index' %}"><span class="material-symbols-outlined">home</span></a>
</div>

<div class="container">
    {% for one_year in year %}
        <div class="year">
            <h2>{{ one_year }}</h2>
            {% for one_semester in one_year.semester_set.all %}
                <table>
                    <tr>
                        <th colspan="4">{{ one_semester }}</th>
                    </tr>
                    <tr>
                        <th>Module</th>
                        <th>Type de séance</th>
                        <th>Nombre d'heures</th>
                        <th>Semaine</th>
                    </tr>
                    {% for one_week in one_semester.week_set.all %}
                        {% for one_planning in one_week.planning_set.all %}
                            {% if teacher == one_planning.sessions.teacher %}
                                <tr>
                                    <td>{{ one_planning.sessions.subject }}</td>
                                    <td>{{ one_planning.sessions.type_sessions }}</td>
                                    <td>{{ one_planning.number_hours }}</td>
                                    <td>{{ one_week }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>