{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/managed-teacher.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="title">
    <h1>{{ teacher.last_name }}</h1>
    <p>{{ teacher.first_name }}</p>
    <a class="btn-back" href="{% url 'management:index' %}">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <a class="btn-back" href="{% url 'management:index' %}"><span class="material-symbols-outlined">home</span></a>
</div>

<div class="container">
    {% for year, data in services.items %}
        <div class="year">
            <h2>{{ year }}</h2>
            <table>
                <tr>
                    <th colspan="4">Récapitulatif de toutes les heures</th>
                </tr>
                <tr>
                    <th>Nombre d'heures de CM</th>
                    <th>Nombre d'heures de TD</th>
                    <th>Nombre d'heures de TP</th>
                    <th>Gratification</th>
                </tr>
                <tr>
                    <td>{{ data.total.cm }}</td>
                    <td>{{ data.total.td }}</td>
                    <td>{{ data.total.tp }}</td>
                    <td>{{ data.cost }} €</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th colspan="4">Récapitulatif des heures par module</th>
                </tr>
                <tr>
                    <th>Module</th>
                    <th>Nombre d'heures de CM</th>
                    <th>Nombre d'heures de TD</th>
                    <th>Nombre d'heures de TP</th>
                </tr>
                {% for one_sessions, hours in data.sessions.items %}
                    <tr>
                        <td>{{ one_sessions }}</td>
                        <td>{{ hours.cm }}</td>
                        <td>{{ hours.td }}</td>
                        <td>{{ hours.tp }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
</body>
</html>