{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planning</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/managed-planning.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="title">
    <h1>Planification</h1>
    <p>{{ year }}</p>
    <a class="btn-back" href="{% url 'management:managed-year' year.id %}">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <a class="btn-back" href="{% url 'management:index' %}"><span class="material-symbols-outlined">home</span></a>
</div>

<div class="container">
    <div class="year">
        <div class="info">
            <p>Séance affecter aux semaines</p>
        </div>
        {% for one_semester in year.semester_set.all %}
            <table>
                <tr>
                    <th colspan="7">{{ one_semester }}</th>
                </tr>
                <tr>
                    <th>Semaine</th>
                    <th>Matiere</th>
                    <th>Promotion</th>
                    <th>Type de séance</th>
                    <th>Nombre de séances</th>
                    <th>Professeur</th>
                    <th>Action</th>
                </tr>
                {% for one_week in one_semester.week_set.all %} {% for one_planning in one_week.planning_set.all %}
                    <tr>
                        <td>{{ one_week }}</td>
                        <td>{{ one_planning.sessions.subject }}</td>
                        <td>{{ one_planning.sessions.promotion }}</td>
                        <td>{{ one_planning.sessions.type_sessions }}</td>
                        <td>{{ one_planning.number_hours }}</td>
                        <td>{{ one_planning.sessions.teacher }}</td>
                        <td><a href="{% url 'management:delete-planning' year.id one_planning.id %}">Delete</a></td>
                    </tr>
                {% endfor %} {% endfor %}
            </table>

        {% endfor %}
    </div>

    <br/>

    <div class="padding">
        <div class="info">
            <p>Séance à affecter à une semaine</p>
        </div>
        <table>
            <tr>
                <th>Matiere</th>
                <th>Promotion</th>
                <th>Type de séance</th>
                <th>Nombre de séance</th>
                <th>Professeur</th>
                <th>Affecter</th>
            </tr>
            {% for remaining_session_id, remaining_session_data in remaining_session.items %}
                {% if remaining_session_data.number_hours > 0 %}
                    <tr>
                        <td>{{ remaining_session_data.name_subject }}</td>
                        <td>{{ remaining_session_data.promotion }}</td>
                        <td>{{ remaining_session_data.type_sessions }}</td>
                        <td>{{ remaining_session_data.number_hours }}</td>
                        <td>{{ remaining_session_data.teacher }}</td>
                        <td><a class="btn-back" href="{% url 'management:add-planning' year.id remaining_session_id %}">+</a>
                        </td>
                    </tr>
                {% endif %} {% endfor %}
        </table>
    </div>
</div>
</body>
</html>