{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semester</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/managed-semester.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="title">
    <h1>{{ semester.name_semester }}</h1>
    <p>{{ year.name_year }}</p>
    <a class="btn-back" href="{% url 'management:managed-year' year.id %}">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <a class="btn-back" href="{% url 'management:index' %}"><span class="material-symbols-outlined">home</span></a>
</div>

<div class="container">
    <div class="week">
        <h2>Semestre</h2>
        <div class="list">
            {% for one_week in semester.week_set.all %}
                <div class="item">
                    <p>{{ one_week }}</p>
                    <div class="btn">
                        <a href="{% url 'management:managed-week-planning' year.id semester.id one_week.id %}">Modifier
                            la planification</a>
                        <a href="{% url 'management:add-duplicate-week' year.id semester.id one_week.id %}">Dupliquer</a>
                        <a href="{% url 'management:delete-week' year.id semester.id one_week.id %}">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
            {% if semester.week_set.all %}
                <div class="item">
                    <p>Semaine suivante</p>
                    <div class="btn">
                        <a href="{% url 'management:add-next-week' year.id semester.id %}">Ajouter la semaine</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <a class="btn-add" href="{% url 'management:add-week' year.id semester.id %}">Ajouter une semaine</a>
    </div>
</div>
</body>
</html>