{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject</title>
    <link rel="stylesheet" type="text/css" href="{% static 'management/managed-subject.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
<div class="title">
    <h1>{{ subject.name_subject }}</h1>
    <p>{{ promotion.name_promotion }}</p>
    <a href="{% url 'management:managed-promotion' promotion.id %}">
        <span class="material-symbols-outlined">arrow_back</span>
    </a>
    <a class="btn-back" href="{% url 'management:index' %}"><span class="material-symbols-outlined">home</span></a>
</div>
<div class="container">
    <div class="cm">
        <h2>CM</h2>
        <div class="info">
            <p>{{ nb_sessions.cm.foreseen }} hours ont été prévues, vous devez encore en
                affecter {{ nb_sessions.cm.remaining }}.</p>
        </div>
        <table>
            <tr>
                <th>Nom professeur</th>
                <th>Nombre de séances</th>
                <th>Semaine</th>
                <th>Action</th>
            </tr>
            {% for one_sessions in nb_sessions.cm.sessions %}
                <tr>
                    {% if one_sessions.type_sessions == "cm" %}
                        <td>{{ one_sessions.teacher }}</td>
                        <td class="number_hours">
                            {% if nb_sessions.cm.remaining < 0 %}
                                <div class="overload">{{ one_sessions.number_hours }}</div>
                            {% elif  nb_sessions.cm.remaining > 0 %}
                                <div class="incomplete">{{ one_sessions.number_hours }}</div>
                            {% else %}
                                {{ one_sessions.number_hours }}
                            {% endif %}
                        </td>
                        <td>{{ one_sessions.week }}</td>
                        <td class="btn">
                            <a href="{% url 'management:delete-session' promotion.id subject.id one_sessions.id %}">Delete</a>
                            <a href="{% url 'management:edit-session' promotion.id subject.id one_sessions.id %}">Edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'management:add-cm-session' promotion.id subject.id %}">Ajouter un CM</a>
    </div>

    <div class="td">
        <h2>TD</h2>
        <div class="info">
            <p>{{ nb_sessions.td.foreseen }} hours par TD ont été prévues, vous devez encore en
                affecter {{ nb_sessions.td.remaining }}.</p>
        </div>
        {% for td_session, list_session in nb_sessions.td.sessions.items %}
            <table>
                <tr>
                    <th colspan="4">{{ td_session }}</th>
                </tr>
                <tr>
                    <th>Nom professeur</th>
                    <th>Nombre de séances</th>
                    <th>Semaine</th>
                    <th>Action</th>
                </tr>
                {% for one_sessions in list_session.data %}
                    <tr>
                        <td>{{ one_sessions.teacher }}</td>
                        <td class="number_hours">
                            {% if nb_sessions.td.foreseen <  list_session.allocate_hours %}
                                <div class="overload">{{ one_sessions.number_hours }}</div>
                            {% elif  nb_sessions.td.foreseen > list_session.allocate_hours %}
                                <div class="incomplete">{{ one_sessions.number_hours }}</div>
                            {% else %}
                                {{ one_sessions.number_hours }}
                            {% endif %}
                        </td>
                        <td>{{ one_sessions.week }}</td>
                        <td class="btn">
                            <a href="{% url 'management:delete-session' promotion.id subject.id one_sessions.id %}">Delete</a>
                            <a href="{% url 'management:edit-session' promotion.id subject.id one_sessions.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        <a href="{% url 'management:add-td-session' promotion.id subject.id %}"><p>Ajouter un TD</p></a>
    </div>

    <div class="tp">
        <h2>TP</h2>
        <div class="info">
            <p>{{ nb_sessions.tp.foreseen }} hours par TP ont été prévues, vous devez encore en
                affecter {{ nb_sessions.tp.remaining }}.</p>
        </div>
        {% for tp_session, list_session in nb_sessions.tp.sessions.items %}
            <table>
                <tr>
                    <th colspan="4">{{ tp_session }}</th>
                </tr>
                <tr>
                    <th>Nom professeur</th>
                    <th>Nombre de séances</th>
                    <th>Semaine</th>
                    <th>Action</th>
                </tr>
                {% for one_sessions in list_session.data %}
                    <tr>
                        <td>{{ one_sessions.teacher }}</td>
                        <td class="number_hours">
                            {% if nb_sessions.tp.foreseen < list_session.allocate_hours %}
                                <div class="overload">{{ one_sessions.number_hours }}</div>
                            {% elif  nb_sessions.tp.foreseen > list_session.allocate_hours %}
                                <div class="incomplete">{{ one_sessions.number_hours }}</div>
                            {% else %}
                                {{ one_sessions.number_hours }}
                            {% endif %}
                        </td>
                        <td>{{ one_sessions.week }}</td>
                        <td class="btn">
                            <a href="{% url 'management:delete-session' promotion.id subject.id one_sessions.id %}">Delete</a>
                            <a href="{% url 'management:edit-session' promotion.id subject.id one_sessions.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        <a href="{% url 'management:add-tp-session' promotion.id subject.id %}"><p>Ajouter un TP</p></a>
    </div>
</div>
</body>
</html>