{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/managed-teacher.css' %}" />

<div class="title">
  <h1>{{ teacher.last_name }}</h1>
  <p>{{ teacher.first_name }}</p>
  <a class="btn-back" href="{% url 'management:index' %}">← back</a>
</div>

<div class="container">
  {% for one_year in year %}
  <div class="year">
    <h2>{{ one_year }}</h2>
    {% for one_semester in one_year.semester_set.all %}
    <table>
      <tr>
        <th colspan="4">{{ one_semester }}</th>
      </tr>

      {% for one_week in one_semester.week_set.all %}
      <tr>
        <th>Type de séance</th>
        <th>Nombre de séance</th>
        <th>Module</th>
        <th>Semaine</th>
      </tr>
      {% for one_sessions in one_week.sessions_set.all %} {% if teacher == one_sessions.teacher %}
      <tr>
        <td>{{ one_sessions.type_sessions }}</td>
        <td>{{ one_sessions.number_sessions }}</td>
        <td>{{ one_sessions.subject }}</td>
        <td>{{ one_week }}</td>
      </tr>
      {% endif %} {% endfor %}{% endfor %}
    </table>
    {% endfor %}
  </div>
  {% endfor %}
</div>
